



<div class="hero-wrap js-fullheight" style="background-image: url('images/منحة2.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class=" no-gutters  slider-text js-fullheight align-items-center" data-scrollax-parent="true">
      <div class="col-md-7 textHeader ftco-animate">
        <h1 class="subheading">مرحبا بك فى فرصتك</h1>
        <h1 class="mb-4">الموقع العربي الذى يمكنك من الحصول على المنح الدراسية وفرص التبادل الثقافى والاقامات</h1>
    </div>
</div>
</div>
</div>

<section class="ftco-section ftco-no-pb ftco-no-pt">
   <div class="container">
      <div class="row">
         <div class="col-md-7"></div>
         <!-- <div class="col-md-5 order-md-last">
          <div class="login-wrap p-4 p-md-5">
              <h3 class="mb-4">Register Now</h3>
              <form action="#" class="signup-form">
                 <div class="form-group">
                    <label class="label" for="name">Full Name</label>
                    <input type="text" class="form-control" placeholder="John Doe">
                </div>
                <div class="form-group">
                    <label class="label" for="email">Email Address</label>
                    <input type="text" class="form-control" placeholder="johndoe@gmail.com">
                </div>
                <div class="form-group">
                 <label class="label" for="password">Password</label>
                 <input id="password-field" type="password" class="form-control" placeholder="Password">
             </div>
             <div class="form-group">
                 <label class="label" for="password">Confirm Password</label>
                 <input id="password-field" type="password" class="form-control" placeholder="Confirm Password">
             </div>
             <div class="form-group d-flex justify-content-end mt-4">
                 <button type="submit" class="btn btn-primary submit"><span class="fa fa-paper-plane"></span></button>
             </div>
         </form>
         <p class="text-center">Already have an account? <a href="#signin">Sign In</a></p>
     </div>
 </div> -->
</div>
</div>
</section>

<section class="ftco-section">
   <div class="container">
      <div class="row justify-content-center pb-4">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<span class="subheading">ابدأ رحلتك التعليمية اليوم</span>
            <h2 class="mb-4">تصفح مجالات المنح الدراسية</h2>
        </div>
    </div>
    <div class="row justify-content-center">
     <div class="col-md-3 col-lg-2">
        <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url(images/تكنولوجيا\ المعلومت.jpeg);">
           <div class="text w-100 text-center">
              <h3>تكنولوجيا المعلومات</h3>
              <span>50 منحة</span>
          </div>
      </a>
  </div>
  <div class="col-md-3 col-lg-2">
    <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url(images/موسيقى.jpeg);">
       <div class="text w-100 text-center">
          <h3>الموسيقى والفنون</h3>
          <span>30 منحة</span>
      </div>
  </a>
</div>
<div class="col-md-3 col-lg-2">
    <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url(images/تصوير.jpeg);">
       <div class="text w-100 text-center">
          <h3>التصوير الفوتوغرافي</h3>
          <span>20 منحة</span>
      </div>
  </a>
</div>
<div class="col-md-3 col-lg-2">
    <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url(images/تسويق.jpeg);">
       <div class="text w-100 text-center">
          <h3>التسويق والإدارة</h3>
          <span>40 منحة</span>
      </div>
  </a>
</div>
<div class="col-md-3 col-lg-2">
    <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url(images/صحة\ وعناية.jpeg);">
       <div class="text w-100 text-center">
          <h3>الصحة والعناية</h3>
          <span>25 منحة</span>
      </div>
  </a>
</div>
<div class="col-md-3 col-lg-2">
    <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url(images/أهم_وسائل_الإعلام.jpg);">
       <div class="text w-100 text-center">
          <h3>الإعلام والاتصال</h3>
          <span>15 منحة</span>
      </div>
  </a>
</div>
</div>
</div>
</section>


<!-- <section class="ftco-section bg-light">
   <div class="container">
      <div class="row justify-content-center pb-4">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<span class="subheading">Start Learning Today</span>
            <h2 class="mb-4">Pick Your Course</h2>
        </div>
    </div>
    <div class="row">
       <div class="col-md-4 ftco-animate">
          <div class="project-wrap">
             <a href="#" class="img" style="background-image: url(images/work-1.jpg);">
                <span class="price">Software</span>
            </a>
            <div class="text p-4">
                <h3><a href="#">Design for the web with adobe photoshop</a></h3>
                <p class="advisor">Advisor <span>Tony Garret</span></p>
                <ul class="d-flex justify-content-between">
                   <li><span class="flaticon-shower"></span>2300</li>
                   <li class="price">$199</li>
               </ul>
           </div>
       </div>
   </div>
   <div class="col-md-4 ftco-animate">
      <div class="project-wrap">
         <a href="#" class="img" style="background-image: url(images/work-2.jpg);">
            <span class="price">Software</span>
        </a>
        <div class="text p-4">
            <h3><a href="#">Design for the web with adobe photoshop</a></h3>
            <p class="advisor">Advisor <span>Tony Garret</span></p>
            <ul class="d-flex justify-content-between">
               <li><span class="flaticon-shower"></span>2300</li>
               <li class="price">$199</li>
           </ul>
       </div>
   </div>
</div>
<div class="col-md-4 ftco-animate">
  <div class="project-wrap">
     <a href="#" class="img" style="background-image: url(images/work-3.jpg);">
        <span class="price">Software</span>
    </a>
    <div class="text p-4">
        <h3><a href="#">Design for the web with adobe photoshop</a></h3>
        <p class="advisor">Advisor <span>Tony Garret</span></p>
        <ul class="d-flex justify-content-between">
           <li><span class="flaticon-shower"></span>2300</li>
           <li class="price">$199</li>
       </ul>
   </div>
</div>
</div>

<div class="col-md-4 ftco-animate">
  <div class="project-wrap">
     <a href="#" class="img" style="background-image: url(images/work-4.jpg);">
        <span class="price">Software</span>
    </a>
    <div class="text p-4">
        <h3><a href="#">Design for the web with adobe photoshop</a></h3>
        <p class="advisor">Advisor <span>Tony Garret</span></p>
        <ul class="d-flex justify-content-between">
           <li><span class="flaticon-shower"></span>2300</li>
           <li class="price">$199</li>
       </ul>
   </div>
</div>
</div>
<div class="col-md-4 ftco-animate">
  <div class="project-wrap">
     <a href="#" class="img" style="background-image: url(images/work-5.jpg);">
        <span class="price">Software</span>
    </a>
    <div class="text p-4">
        <h3><a href="#">Design for the web with adobe photoshop</a></h3>
        <p class="advisor">Advisor <span>Tony Garret</span></p>
        <ul class="d-flex justify-content-between">
           <li><span class="flaticon-shower"></span>2300</li>
           <li class="price">$199</li>
       </ul>
   </div>
</div>
</div>
<div class="col-md-4 ftco-animate">
  <div class="project-wrap">
     <a href="#" class="img" style="background-image: url(images/work-6.jpg);">
        <span class="price">Software</span>
    </a>
    <div class="text p-4">
        <h3><a href="#">Design for the web with adobe photoshop</a></h3>
        <p class="advisor">Advisor <span>Tony Garret</span></p>
        <ul class="d-flex justify-content-between">
           <li><span class="flaticon-shower"></span>2300</li>
           <li class="price">$199</li>
       </ul>
   </div>
</div>
</div>
</div>
</div>
</section> -->

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_4.jpg);">
 <div class="overlay"></div>
 <div class="container">
    <div class="row">
       <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
         <div class="block-18 d-flex align-items-center">
            <div class="icon"><span class="flaticon-online"></span></div>
            <div class="text">
             <strong class="number" data-number="120">0</strong>
             <span>منح دراسية متاحة</span>
         </div>
     </div>
 </div>
 <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
     <div class="block-18 d-flex align-items-center">
        <div class="icon"><span class="flaticon-graduated"></span></div>
        <div class="text">
         <strong class="number" data-number="1500">0</strong>
         <span>طلاب مقبولون</span>
     </div>
 </div>
</div>
<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
 <div class="block-18 d-flex align-items-center">
    <div class="icon"><span class="flaticon-instructor"></span></div>
    <div class="text">
     <strong class="number" data-number="150">0</strong>
     <span>مستشارون أكاديميون</span>
 </div>
</div>
</div>
<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
 <div class="block-18 d-flex align-items-center">
    <div class="icon"><span class="flaticon-tools"></span></div>
    <div class="text">
     <strong class="number" data-number="300">0</strong>
     <span>ساعات محتوى تعليمي</span>
 </div>
</div>
</div>
</div>
</div>
</section>


<section class="ftco-section ftco-about img">
   <div class="container">
      <div class="row d-flex">
         <div class="col-md-12 about-intro">
            <div class="row">
               <div class="col-md-6 d-flex">
                  <div class="d-flex about-wrap">
                     <div class="img d-flex align-items-center justify-content-center" style="background-image:url(images/about.jpg);">
                     </div>
                     <div class="img-2 d-flex align-items-center justify-content-center" style="background-image:url(images/bg_4.jpg);">
                     </div>
                 </div>
             </div>
             <div class="col-md-6 pl-md-5 py-5">
              <div class="row justify-content-start pb-3">
                  <div class="col-md-12 heading-section ftco-animate">
                     <span class="subheading">طور مهاراتك واحصل على فرصتك</span>
                     <h2 class="mb-4">ابدأ تعليمك اليوم مع المنح الدراسية الدولية</h2>
                     <p>بعيدًا عن حدود الدول، نوفر لك الفرص لتطوير مهاراتك وتحقيق طموحاتك الأكاديمية من خلال مجموعة متنوعة من المنح الدراسية المتميزة في أفضل الجامعات حول العالم. نسعى إلى تزويدك بكل ما تحتاجه للنجاح وتحقيق أحلامك.</p>
                     <p><a href="contact.html" class="btn btn-primary">تواصل معنا</a></p>
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>
</div>
</section>



<section class="ftco-section testimony-section bg-light">
   <div class="overlay" style="background-image: url(images/work-1.jpg);"></div>
   <div class="container">
    <div class="row pb-4">
      <div class="col-md-7 heading-section ftco-animate">
         <span class="subheading">آراء المستفيدين</span>
         <h2 class="mb-4">ماذا يقول طلاب المنح الدراسية</h2>
     </div>
 </div>
</div>
<div class="container container-2">
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel">
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="text">
                 <p class="star">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </p>
                <p class="mb-4">"منحة الدراسة في الخارج منحتني الفرصة لتطوير مهاراتي الأكاديمية والعملية، وأصبح لدي الآن آفاق جديدة لتحقيق طموحاتي."</p>
                <div class="d-flex align-items-center">
                   <div class="user-img" style="background-image: url(images/fady.jpg)"></div>
                   <div class="pl-3">
                      <p class="name">أحمد علي</p>
                      <span class="position">طالب هندسة</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="item">
    <div class="testimony-wrap py-4">
      <div class="text">
         <p class="star">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </p>
        <p class="mb-4">"الدراسة في الخارج غيرت حياتي. الفرص التي أتيحت لي هنا لا تقدر بثمن، وأنا ممتن جدًا لمنحة التعليم الدولية."</p>
        <div class="d-flex align-items-center">
           <div class="user-img" style="background-image: url(images/ahmed.jpg)"></div>
           <div class="pl-3">
              <p class="name">سارة محمد</p>
              <span class="position">طالبة علوم الحاسوب</span>
          </div>
      </div>
  </div>
</div>
</div>
<div class="item">
    <div class="testimony-wrap py-4">
      <div class="text">
         <p class="star">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </p>
        <p class="mb-4">"منحة التعليم الدولية منحتني فرصة لا مثيل لها للدراسة في إحدى أفضل الجامعات العالمية وتوسيع آفاقي."</p>
        <div class="d-flex align-items-center">
           <div class="user-img" style="background-image: url(images/zidan.jpg)"></div>
           <div class="pl-3">
              <p class="name">خالد حسن</p>
              <span class="position">طالب إدارة أعمال</span>
          </div>
      </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="ftco-intro ftco-section ftco-no-pb">
 <div class="container">
    <div class="row justify-content-center">
       <div class="col-md-12 text-center">
          <div class="img" style="background-image: url(images/bg_4.jpg);">
             <div class="overlay"></div>
             <h2>نحن مبادرة "فرص دراسية" لتوفير التعليم الدولي</h2>
             <p>نحن نساعدك على تحقيق حلمك الأكاديمي في الخارج من خلال توفير أفضل المنح الدراسية.</p>
         </div>
     </div>
 </div>
</div>
</section>


<section class="ftco-section services-section">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 heading-section pr-md-5 ftco-animate d-flex align-items-center">
         <div class="w-100 mb-4 mb-md-0">
            <span class="subheading">مرحبًا بكم في فرص دراسية</span>
            <h2 class="mb-4">نحن مبادرة تعليمية لتوفير المنح الدولية</h2>
            <p>نحن نقدم فرصًا مميزة للطلاب الراغبين في تحقيق أحلامهم الأكاديمية عبر المنح الدراسية العالمية.</p>
            <p>بعيدًا عن الصعوبات، نحن نساعدك في الوصول إلى المؤسسات التعليمية العالمية من خلال شبكة مميزة من الشركاء والبرامج الممولة.</p>
     </div>
 </div>
 <div class="col-md-6">
     <div class="row">
        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
          <div class="services">
            <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-tools"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">محتوى تعليمي عالمي</h3>
              <p>نحن نوفر محتوى تعليمي ذو جودة عالية لتطوير مهاراتك.</p>
          </div>
      </div>      
  </div>
  <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
      <div class="services">
        <div class="icon icon-2 d-flex align-items-center justify-content-center"><span class="flaticon-instructor"></span></div>
        <div class="media-body">
          <h3 class="heading mb-3">معلمين ذوي خبرة عالمية</h3>
          <p>تعلم من أفضل المدرسين والمعلمين حول العالم من خلال برامجنا.</p>
      </div>
  </div>    
</div>
<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
  <div class="services">
    <div class="icon icon-3 d-flex align-items-center justify-content-center"><span class="flaticon-quiz"></span></div>
    <div class="media-body">
      <h3 class="heading mb-3">تجربة تعليمية متميزة</h3>
      <p>استفد من برامجنا الفريدة التي تتضمن دروسًا ومسابقات عالمية.</p>
  </div>
</div>      
</div>
<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
  <div class="services">
    <div class="icon icon-4 d-flex align-items-center justify-content-center"><span class="flaticon-browser"></span></div>
    <div class="media-body">
      <h3 class="heading mb-3">احصل على شهادات معتمدة</h3>
      <p>احصل على شهادات معترف بها عالميًا بعد اجتياز البرامج التعليمية بنجاح.</p>
  </div>
</div>      
</div>
</div>
</div>
</div>
</div>
</section>



