@model Department

<div asp-validation-summary="All"></div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" placeholder="Enter Department name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
