

    <style>
        body {
            font-weight: 500;
            font-family: 'Reem Kufi', sans-serif;
            color: black
        }
    </style>
    <section class="hero-wrap hero-wrap-2"
             style="
        background-image: url('/Uploads/scholarship/s1.jfif');
      ">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <p class="breadcrumbs">
                        <span class="mr-2">
                            <a href="home.html">الرئيسية <i class="fa fa-chevron-right"></i></a>
                        </span>
                        <span>المنح الدراسية <i class="fa fa-chevron-right"></i></span>
                    </p>
                    <h1 class="mb-0 bread">تفاصيل المنحة</h1>
                </div>
            </div>
        </div>
    </section>




    <!-- <section class="">

    </section> -->
    <div class="container flex flex-col gap-2" style="background-color: #f5f5f5; padding: 30px;  width: 100%; max-width: none;">
        <div class="md:max-w-1/2" style="text-align: right; font-size: 24px;">
            <h1 itemprop="headline"
                class="text-2xl md:text-4xl font-[700] mb-4 leading-10 ruqaa"
                style="font-size: 40px; font-weight: 700;">
                منحة جامعة هارفارد لدراسة الأعمال
            </h1>

        </div>

        <div class="flex flex-col justify-end mt-6" style="text-align: right; font-size: 24px;">
            <!-- الأزرار الجديدة -->
            <div style="display: flex; align-items: center; justify-content: flex-end; gap: 10px; padding: 20px; text-align: right;">

                <div>
                    <button type="button" style="background-color: #756698; width:200px; color: white; border: none; padding: 10px 20px; font-size: 18px; border-radius: 8px; cursor: pointer;">
                        تقدم للفرصة
                    </button>
                </div>
            </div>

            <div style="color: red; font-size: 16px; font-weight: bold; margin-right: 20px;">
                <span>تاريخ انتهاء الفرصة:</span> <span>2024-11-23</span>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card" style="
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 10px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      max-width: 400px;
      margin: auto 30px 20px auto;
      text-align: right;
      height: 300px;
    ">
                    <div class="card-body">
                        <h2 class="card-title">معايير الفرصة</h2>
                        <p style="font-size: 16px;"><strong>مجال الفرصة:</strong> التغذية والرياضة والصحة، السياسة والاقتصاد، البيئة والطبيعة</p>
                        <p style="font-size: 16px;"><strong>مكان الفرصة:</strong> المملكة المتحدة</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <section class="container"
                         style="

        width: 100%;
        max-width: none;
      ">


                    <h1 style="
          font-size: 40px;
          font-weight: 900;
          text-align: right;
          margin-bottom: 20px;
        ">
                        وصف الفرصة
                    </h1>

                    <div class="content">
                        <p style="
            font-size: 18px;
            text-align: right;
            line-height: 1.8;

          font-family: 'Reem Kufi', sans-serif;">
                            تقدم منحة جامعة هارفارد لدراسة الأعمال فرصة رائعة للطلاب المتميزين
                            الذين يسعون للحصول على درجة الماجستير في إدارة الأعمال. هذه المنحة
                            الممولة بالكامل تشمل جميع تكاليف الرسوم الدراسية، السكن، السفر،
                            والتأمين الصحي بالإضافة إلى راتب شهري لتغطية تكاليف المعيشة.
                        </p>
                        <p style="
            font-size: 18px;
            text-align: right;
            line-height: 1.8;
          ">
                            تهدف منحة هارفارد إلى دعم الطلاب الذين يتمتعون بإمكانات قيادية
                            كبيرة والتزام قوي بالتغيير المجتمعي. الطلب مفتوح لجميع الطلاب من
                            مختلف الجنسيات، بشرط أن يكون لديهم خلفية أكاديمية متميزة وسجل مهني
                            بارز.
                        </p>
                        <p style="
            font-size: 18px;
            text-align: right;
            line-height: 1.8;
          ">
                            تعتبر جامعة هارفارد واحدة من أعرق الجامعات في العالم، وبرنامج ماجستير
                            إدارة الأعمال الخاص بها يعد من أفضل البرامج على مستوى العالم. تقدم
                            المنحة الفرصة لتعلم أحدث مفاهيم الإدارة والاستفادة من شبكة واسعة من
                            الخريجين والموجهين من مختلف الصناعات.
                        </p>
                    </div>
            </div>
            </section>


            <section class="container"
                     style="
    margin: 50px 0;
    padding: 20px;
    width: 100%;
    max-width: none;
  ">

                <h1 style="
      font-size: 40px;

      font-weight: 900;
      text-align: right;
    ">
                    الفوائد والمنافع
                </h1>
                <div class="content ">
                    <p style="
        font-size: 18px;
        text-align: right;
        line-height: 1.8;
        padding-left: 20%;
      ">
                        توفر منحة جامعة هارفارد لدراسة الأعمال العديد من الفوائد التي تساعد
                        الطلاب على تحقيق أهدافهم الأكاديمية والمهنية. من أهم الفوائد التي
                        تقدمها هذه المنحة هي التغطية المالية الشاملة التي تشمل الرسوم الدراسية
                        بالكامل، مما يتيح للطلاب التركيز على دراستهم دون القلق من التكاليف
                        المالية.
                    </p>
                    <p style="
        font-size: 18px;
        text-align: right;
        line-height: 1.8;

        padding-left: 20%;
      ">
                        بالإضافة إلى ذلك، تشمل المنحة توفير السكن للطلاب طوال فترة الدراسة،
                        مما يوفر بيئة معيشية مستقرة ومريحة. كما يتم تغطية تكاليف السفر
                        والتأمين الصحي، مما يمنح الطلاب الأمان والحماية الصحية اللازمة أثناء
                        تواجدهم في الخارج.
                    </p>
                    <p style="
        font-size: 18px;
        text-align: right;
        line-height: 1.8;

        padding-left: 20%;
      ">
                        إحدى أبرز المنافع التي تقدمها منحة هارفارد هي الراتب الشهري الذي يساعد
                        الطلاب في تغطية تكاليف المعيشة، مما يتيح لهم التركيز على الدراسة
                        والتطوير الشخصي. بالإضافة إلى ذلك، يحصل الطلاب على فرصة للانضمام إلى
                        شبكة واسعة من الخريجين المحترفين والموجهين الذين يقدمون الدعم والإرشاد
                        في مختلف المجالات.
                    </p>
                </div>
            </section>


            <section class="container"
                     style="
    margin:  0;
    padding: 20px;
    width: 100%;
    max-width: none;
  ">
            </section>
        </div>

        <div class="card"
             style="
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    max-width: 400px;
    margin: auto 30px 20px auto;
    text-align: right;
  ">
            <h2 style="
      font-size: 24px;
    ">
                معايير المتقدم
            </h2>
            <div style="
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 700;
  ">

                <p><strong>الجنسية:</strong> مصري</p>
                <p><strong>نوع الجنسية:</strong> عربي</p>
                <p><strong>العمر:</strong> من 18 إلى 30 عامًا</p>
                <p><strong>الجنس:</strong> ذكر أو أنثى</p>
                <p><strong>تاريخ الانتهاء:</strong> 31 ديسمبر 2024</p>
            </div>

        </div>




    </div>
    